body{
    background-color: rgb(22, 22, 22);
    color: ghostwhite;
    font-family: Arial, Helvetica, sans-serif;
    

}
.Sobre_Mi{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(58, 57, 57);
    border-radius: 5px;
    margin-left: 20%;
    margin-right: 20%;
    padding: 1em;
    text-align: center;
}

h1{
    display: flex;
    align-items: center;
    justify-content: center;

}
.Mis_Tecnologias_Favoritas{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(58, 57, 57);
    border-radius: 5px;
    margin-left: 20%;
    margin-right: 20%;
    padding: 1em;
    margin-top: 1em;
    gap:1em;
}
.logos img{
    width:20%;
    height: 20%;
    filter: grayscale(100%);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 4px;
}
.tarjeta{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(22, 22, 22);
    border-radius: 5px;
    width: 80%;
    gap:1em;
    margin-bottom: 2px;
    
    
}
.tarjeta .logos:hover{
    margin-bottom: 7%;

}
 
 .logos img:hover{
    filter: grayscale(0%);
    transform: scale(1.3);

}
.Mis_Actividades_Favoritas form{
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    margin-right: 20%;

}
.Mis_Actividades_Favoritas input{
    margin-top: 1em;
    background-color: rgb(58, 57, 57);
    border-radius: 5px;
    border-color: rgb(58, 57, 57);
    height: 40px;
    box-shadow: rgb(58, 57, 57);
    outline: none; /* Elimina el contorno predeterminado en el foco */
    box-shadow: none; 
    border: 1px solid ;
    
    

}
.Mis_Actividades_Favoritas textarea{
    margin-top: 1em;
    background-color: rgb(58, 57, 57);
    border-radius: 5px;
    border-color: rgb(58, 57, 57);
    height: 40px;
    box-shadow: rgb(58, 57, 57);
    outline: none; /* Elimina el contorno predeterminado en el foco */
    box-shadow: none; 
    border: 1px solid ;
    
    

}
.Mis_Actividades_Favoritas input::placeholder{
    padding-left: 10px;

}

.Contenerdor_Tarjetas{
    display: flex;
    flex-direction: row;
    gap:1em;
    justify-content: flex-start;
    align-items: flex-start;
    width:100%;
}
#css{
    top: -50px;
    width:80px;
    
}
#html{
    width:80px;
    
}
#js{
    width:80px;
    
}
#python{
    width:80px;
   
    top: -50px;

}
button{
    background-color: rgb(58, 57, 57);
    color: ghostwhite;
    border-radius: 10px;
    margin-top: 2em;
    width: 20%;
    outline: none; /* Elimina el contorno predeterminado en el foco */
    box-shadow: none; 
    border: 1px solid ;
    border-color: rgb(58, 57, 57);
    padding: 1%;

}
.imagen{
    margin-left: 20%;
    margin-right: 20%; 
}
#descripcion{
    height:80px;
    
    
}